body
{
    background-color: #fff;
    padding: 15px;
    margin-bottom: 20px;
}

.template, .hide
{
    display: none;
}

#title
{
    text-align: center;
    margin-bottom: 30px;
}

.table, .table th, .table td
{
    border: 1px solid #000;
    border-collapse: collapse;
}

.table th, .table td
{
    padding: 15px;
    text-align: center;
    vertical-align: middle;
}

.table tr.item:nth-child(odd)
{
    background-color: #ececec;
}

.table tr.header
{
    background-color: #c9c9c9;
}

.table .item.highlight
{
    border-top: 5px solid #000;
    font-weight: bold;
}

label
{
    font-weight: bold;
    margin-right: 10px;
}

.form-elem
{
    margin-right: 20px;
    /* min-width: 150px; */
}

#input-show-num
{
    width: 60px;
}

#btn-sync-eu
{
    margin-right: 5px;
}

.link-copy-coords
{
    float: right;
}

.link-copy-coords:active
{
    transform: translate(2px, 2px);
}

.button
{
    cursor: pointer;
}

.bold
{
    font-weight: bold;
}

/* Class colors */
.c-death-knight
{
    color: #c41f3b;
}

.c-demon-hunter
{
    color: #a330c9;
}

.c-druid
{
    color: #ff7d0a;
}

.c-hunter
{
    color: #abd473;
}

.c-mage
{
    color: #69ccf0;
}

.c-monk
{
    color: #00ff96;
}

.c-paladin
{
    color: #f58cba;
}

.c-priest
{
    color: #fff;
}

.c-rogue
{
    color: #fff569;
}

.c-shaman
{
    color: #0070de;
}

.c-warlock
{
    color: #9482c9;
}

.c-warrior
{
    color: #c79c6e;
}

/* Class bg colors */
.bg-death-knight
{
    background-color: #c41f3b;
}

.bg-demon-hunter
{
    background-color: #a330c9;
}

.bg-druid
{
    background-color: #ff7d0a;
}

.bg-hunter
{
    background-color: #abd473;
}

.bg-mage
{
    background-color: #69ccf0;
}

.bg-monk
{
    background-color: #00ff96;
}

.bg-paladin
{
    background-color: #f58cba;
}

.bg-priest
{
    background-color: #fff;
}

.bg-rogue
{
    background-color: #fff569;
}

.bg-shaman
{
    background-color: #0070de;
}

.bg-warlock
{
    background-color: #9482c9;
}

.bg-warrior
{
    background-color: #c79c6e;
}